main {
  display: flex;
}

#app-container {
  display: flex;
  gap: 10px;
}

#weather-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 480px;
}

#location-card {
  border-radius: 0.5rem;
  padding: 10px;
}